*{
  background-color: black;
  color: white;
}
button{
  width: 15%;
  background-color: white;
  color: black;
}
input{
  width: 35%;
}
.container{
  margin-left: 40%;
  margin-top: 10%;
}
.successMsg{
  color: greenyellow;
}
.errorMsg{
  color: tomato;
}